<?xml version="1.0" encoding="UTF-8"?>
<plist version="0.9">
<dict>
	<key>CFBundleName</key>
	<string>Icy</string>
	<key>CFBundleIdentifier</key>
	<string>org.bioimageanalysis.icy</string>
	<key>CFBundleVersion</key>
	<string>100.0</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<string>false</string>
	<key>CFBundleExecutable</key>
	<string>Launcher</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>Icy_</string>
	<key>CFBundleGetInfoString</key>
	<string>Icy - Bio Image Analysis</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>7.0</string>
	<key>CFBundleIconFile</key>
	<string>icy.icns</string>
	<key>IcyJav</key>
	<dict>
		<key>WorkingDirectory</key>
		<string>$APP_PACKAGE/..</string>
		<key>MainClass</key>
		<string>icy.updater.Main</string>
		<key>JVMVersion</key>
		<string>1.7+</string>
		<key>ClassPath</key>
		<string>$APP_PACKAGE/../updater.jar</string>
	</dict>
</dict>
</plist>
